
.mb-10{
  margin-bottom: 20px;
}

.bg-abu{
  background-color: #eeeeee;
}
.mt-80{
  margin-top: 150px;
}

.bg-event{
  background-image: url('../img/AA18-show-shots-05-1300x520.jpg');
  width: 100%;
  height: 315px;
  background-size: cover;
}
.deks_event{
  padding:53px;
}
.deks_tmpt_waktu{
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 53px;
  padding-bottom: 20px;
}
.deks_tmpt_waktu1{
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.pad-box{
  padding:15px;
}

.mr-0{
  margin-right: 0px;
  padding-right: 0px;
}

.ml-20{
  padding-left: 0px;
  margin-left: 0px;
}

.tgl .judul_event{
  font-family: sans-serif;
  font-size : 20px;
  font-weight: bold
}
.judul_event{
  font-weight: bold;
}
.oleh{
  font-size: 15px;
}
.orange{
  background-color: rgba(255, 149, 0, 0.98);
  color: #FFFFFF;
}

.white{
  color: #FFFFFF;
}




hr{
  width:220px;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.judul{
  text-align: center;
  margin-top: 110px;
}

.judul2{
  text-align: center;
  margin-top: 80px;
}

.blok_kategori{
  height: 150px;
  position: relative;
}
  .blok_kategori img{
    width: 100%;
    height: 100%;
    transition: 1s;
  }

  .blok_kategori:hover img{
    filter:blur(2px) brightness(60%);
  }

  .blok_kategori :not(img){
    position: absolute;
    top: 30%;
    z-index: 1;
    color: #fff;
    text-align: center;
    width: 100%;
  }

  .blok_kategori h2{
    top: 15%;
    font-family: 'Delicious', serif;
    font-weight: bold;
    font-size: 30px;
  }

  .blok_kategori h3{
    top: 50%;
    font-family: 'Proconio', serif;
    font-size: 17px;
    opacity: 0;
    transition: 1s;
  }

  .blok_kategori:hover h3{
    opacity: 1;
  }

  .footer {
    background-attachment: fixed;
    position: relative;
    line-height: 20px; }
    .footer nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: normal;
      text-align: center;}
      .footer nav ul li {
        display: inline-block;
        padding: 10px 5px;
        margin: 15px 3px;
        line-height: 20px;
        text-align: center; }
      .footer nav ul a:not(.btn) {
        color: #66615b;
        display: block;
        margin-bottom: 3px; }
        .footer nav ul a:not(.btn):focus, .footer nav ul a:not(.btn):hover  {
          color: #403D39; }
    .footer .copyright {
      color: #66615b;
      padding: 10px 15px;
      font-size: 14px;
      white-space: nowrap;
      margin: 15px 3px;
      line-height: 20px;
      text-align: center; }
    .footer .heart {
      color: #EB5E28; }

@media (max-width:991px){
  .footer  .copyright {
    padding: 0px 15px;
    width: 100%; }
}
